@import "tailwindcss";
 /* Hide scrollbar for Chrome, Safari, and Edge */
 .element {
  overflow: auto; /* or overflow: scroll; */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.element::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
